/* .mapRoot .ymaps-2-1-79-ground-pane {
  filter: grayscale(1) brightness(90%);
  -ms-filter: grayscale(1) brightness(90%);
  -webkit-filter: grayscale(1) brightness(90%);
  -moz-filter: grayscale(1) brightness(90%);
  -o-filter: grayscale(1) brightness(90%);

}




.mapRoot .ymaps-2-1-79-zoom {
  height: 86px !important;
  width: 36px !important;
  padding: 0px !important;
  background-color: #fff;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid yellowgreen
}

.mapRoot .ymaps-2-1-79-zoom__plus,
.mapRoot .ymaps-2-1-79-zoom__minus {
  box-shadow: none !important;
  top: 3px !important;
  border: 1px solid blue
}

.mapRoot .ymaps-2-1-79-zoom__minus {
  top: 47px !important;
  border: 1px solid blue
}

.mapRoot .ymaps-2-1-79-float-button {
  width: 36px !important;
  height: 36px !important;
  top: 45px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
  border: 1px solid black
}

.mapRoot .ymaps-2-1-79-float-button-icon {
  width: 70% !important;
}

.mapRoot .ymaps-2-1-79-controls__control {
  inset: auto 10px 200px auto !important;
  border: 1px solid red
}

.mapRoot .ymaps-2-1-79-map-copyrights-promo {
  display: flex;
}

@media screen and (max-height: 930px) {
  .mapRoot .ymaps-2-1-79-controls__control {
    inset: auto 10px 180px auto !important;
  }
}
 */


/* ----Zoom Controll---- */
.mapRoot .ymaps-2-1-79-zoom__scale {
  display: none !important;
}

.mapRoot .ymaps-2-1-79-zoom {
  height: 125px !important;
  width: 36px !important;
  padding: 0px !important;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;

}

.mapRoot .ymaps-2-1-79-zoom__plus,
.mapRoot .ymaps-2-1-79-zoom__minus {
  box-shadow: none !important;
  top: 0px !important;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15) !important;

}

.mapRoot .ymaps-2-1-79-zoom__minus {
  top: 45px !important;
}

/* PLUS and MINUS  buttons for MAP */
.mapRoot .ymaps-2-1-79-float-button {
  width: 36px !important;
  height: 36px !important;
  top: 20px;
  /* bottom: 0; */
  /* margin: auto 0; */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15) !important;
}

.mapRoot .ymaps-2-1-79-float-button-icon {
  width: 70% !important;
}

.mapRoot .ymaps-2-1-79-controls__control {
  inset: auto 10px 150px auto !important;
}



/* ---------------- */
.mapRoot .ymaps-2-1-79-ground-pane {
  filter: grayscale(1) brightness(90%);

  -ms-filter: grayscale(1) brightness(90%);
  -moz-filter: grayscale(1) brightness(90%);
  -o-filter: grayscale(1) brightness(90%);
  -webkit-filter: grayscale(1) brightness(90%);
}


.mapRoot .ymaps-2-1-79-map-copyrights-promo {
  display: flex;
}

.mapRoot .ymaps-2-1-79-image {
  background-color: white;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: 80% !important;
  border: 2px solid #007dca;
}


@media screen and (max-height: 930px) {
  .mapRoot .ymaps-2-1-79-controls__control {
    inset: auto 10px 130px auto !important;
  }
}

@media (max-height: 750px) {
  .mapRoot .ymaps-2-1-79-controls__control {
    inset: auto 10px 100px auto !important;
  }
}

@media (max-height: 600px) {
  .mapRoot .ymaps-2-1-79-controls__control {
    inset: auto 10px 100px auto !important;
  }


}