.balloonContentHeader {
  padding-top: 20px;
}

.title {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding-top: 20px;
  color: #000000;
}

.description11 {
  width: 200px;
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0px;
  color: #a1a1a1;
}

.text {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #a1a1a1;
  margin-top: 10px;
}

.text span {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-left: 10px;
}

.bodyImgs {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px 0px;
}

.bodyImgs img {
  width: 100px;
  border-radius: 8px;
  height: 100px;
  cursor: pointer;
}

.footerText {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding: 10px 0px;
}

.footerText span {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #a1a1a1;
  letter-spacing: 0.5px;
}

.BtnUzGroup {
  padding: 15px 0;
}

.BtnUz {
  width: 100px !important;
  height: 44px;
  border-radius: 8px;
  background-color: #0077b6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
  user-select: none;
}

body {
  overflow-y: hidden;
}

.YandexListScroll::-webkit-scrollbar {
  width: 5px;
}

.YandexListScroll::-webkit-scrollbar-thumb {
  background-color: #e8e8f0;
  height: 50px;
  border-radius: 8px;
}

/* -------search------- */
.ymapsName .ymaps-2-1-79-ground-pane {
  filter: brightness(50%);
  -ms-filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);

}

.ymapsName .ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox-input {
  height: 44px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.01em;

  color: #a1a1a1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-right: 3px solid #c2c2c2;
  border-radius: 8px 0px 0px 8px;
}

.ymapsName .ymaps-2-1-79-searchbox-input.ymaps-2-1-79-_focused {
  inset: none;
  box-shadow: inset 0 0 0 0px #ffdb4d;
}

.ymapsName .ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox-button {
  height: 44px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  border-radius: 0px 8px 8px 0px;
  letter-spacing: 0.01em;
}

.ymapsName .ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox-button:hover {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

/* ----Zoom Controll---- */
.ymapsName .ymaps-2-1-79-zoom__scale {
  display: none !important;
}

.ymapsName .ymaps-2-1-79-zoom {
  height: 86px !important;
  width: 40px !important;
  padding: 0px !important;
  background-color: #fff;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15) !important;
}

.ymapsName .ymaps-2-1-79-zoom__plus,
.ymapsName .ymaps-2-1-79-zoom__minus {
  box-shadow: none !important;
  top: 3px !important;
}

.ymapsName .ymaps-2-1-79-zoom__minus {
  top: 47px !important;
}

/* PLUS and MINUS  buttons for MAP */
.ymapsName .ymaps-2-1-79-float-button {
  width: 40px !important;
  height: 40px !important;
  top: 45px;
  /* bottom: 0; */
  /* margin: auto 0; */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
}

.ymapsName .ymaps-2-1-79-float-button-icon {
  width: 70% !important;
}

.ymapsName .ymaps-2-1-79-controls__control {
  inset: auto 10px 450px auto !important;
}

/* ---------------- */
.ymapsName .ymaps-2-1-79-ground-pane {
  filter: grayscale(1) brightness(90%);

  -ms-filter: grayscale(1) brightness(90%);
  -moz-filter: grayscale(1) brightness(90%);
  -o-filter: grayscale(1) brightness(90%);
  -webkit-filter: grayscale(1) brightness(90%);
}

.ymapsName .ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

/* ---------------------------------------- */
.YSearch {
  border: 1px solid green
}

.ymapsName .ymaps-2-1-79-search::before {}

.ymapsName .ymaps-2-1-79-search {
  /* border: 1px solid red; */
  position: absolute !important;
  /* left: 50% !important; */
  right: 40% !important;
  bottom: -95vh !important;
  width: 400px !important;

}

/* .ymaps-2-1-79-searchbox {
  border: 1px solid black;
  position: absolute !important;
  right: 50% !important;
  bottom: 30px !important;
} */

/* ---------------------------------------- */


@media screen and (max-height: 930px) {
  .ymapsName .ymaps-2-1-79-controls__control {
    inset: auto 10px 380px auto !important;
  }
}

@media (max-height: 750px) {
  .ymapsName .ymaps-2-1-79-controls__control {
    inset: auto 10px 310px auto !important;
  }
}

@media (max-height: 600px) {
  .ymapsName .ymaps-2-1-79-controls__control {
    inset: auto 10px 230px auto !important;
  }

  .ymapsName .ymaps-2-1-79-_hidden-text {
    display: none !important;
  }
}

/* @media (max-height: 390px) {
    .ymaps-2-1-79-controls__control {
        inset: auto 10px 340px auto !important;
    }
}
@media (max-height: 800px) {
    .ymaps-2-1-79-controls__control {
        inset: auto 10px 330px auto !important;
    }
}
@media (max-height: 900px) {
    .ymaps-2-1-79-controls__control {
        inset: auto 10px 350px auto !important;
    }
} */

/* ----------------FILTER ------------------ */


.items {
  width: 100%;
  height: 40px;
  /*  */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow-x: scroll;
  row-gap: 12px;
}

.items::-webkit-scrollbar {
  width: 50px;
  height: 0px;
}

.items::-webkit-scrollbar-thumb {
  background-color: #e8e8f0;
  width: 50px;

  border-radius: 8px;
}

.item {
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  padding: 12px 16px;
  cursor: pointer;
  /* border: 1px solid green; */
}

/* ------------------------ */

.marketfilter .input-range {
  top: 37px;
}

.marketfilter .input-range__track {
  height: 4px;
  width: 99%;
}

.marketfilter .input-range__slider {
  background-color: #fff !important;
  border: 0.5px solid #000 !important;
}

.marketfilter .input-range__label-container {
  color: #2a86b8;
  font-weight: 500;
}

.marketfilter .input-range__label--max,
.marketfilter .input-range__label--min {
  display: flex;
}



.ymaps-2-1-79-image {
  background-color: white;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: 80% !important;
  border: 2px solid #007dca;
}


.ant-select-selector {
  padding-left: 25px !important;
}

.ant-select-clear {
  /* height: 40px !important;
  width: 40px !important; */
  /* border: 1px solid red; */
}

.iconArrow {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  inset-inline-start: auto;
  inset-inline-end: 11px;
  height: 12px;
  font-size: 12px;
  pointer-events: none;

}