
.productDetailsMaps .ymaps-2-1-79-ground-pane {
  filter: brightness(100%);
  -ms-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);

}

/* .productDetailsMaps .ymaps-2-1-79-zoom  {
  height: 75px !important;
  width: 32px !important;
  padding: 0px !important;
  border: 1px solid red;
  background-color: #fff;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 5px -3px rgba(0, 0, 0, 0.15) !important;
} */

/* .ymaps-2-1-79-controls__control {
  inset: auto 5px 100px auto !important;
}

@media only screen and (max-width: 768px) {
  .productDetailsMaps .ymaps-2-1-79-controls__control {
    inset: auto 5px 100px auto !important;
  }
} */
  
  