.productDetailsMaps .ymaps-2-1-79-ground-pane {
  filter: grayscale(1) brightness(90%);
  -ms-filter: grayscale(1) brightness(90%);
  -webkit-filter: grayscale(1) brightness(90%);
  -moz-filter: grayscale(1) brightness(90%);
  -o-filter: grayscale(1) brightness(90%);

}



.productDetailsMaps .ymaps-2-1-79-controls__control {
  inset: auto 10px 200px auto !important;
}

/* .productDetailsMaps .ymaps-2-1-79-float-button {
  width: 40px !important;
  height: 40px !important;
 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
}

.productDetailsMaps .ymaps-2-1-79-float-button-icon {
  width: 70% !important;
} */


.productDetailsMaps .ymaps-2-1-79-zoom {
  height: 100px;

}

.productDetailsMaps .ymaps-2-1-79-map-copyrights-promo {
  display: flex;
  flex-direction: column;
}

/* .productDetailsMaps .ymaps-2-1-79-zoom  {
  height: 75px !important;
  width: 32px !important;
  padding: 0px !important;
  border: 1px solid red;
  background-color: #fff;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 5px -3px rgba(0, 0, 0, 0.15) !important;
} */

/* .ymaps-2-1-79-controls__control {
  inset: auto 5px 100px auto !important;
}

@media only screen and (max-width: 768px) {
  .productDetailsMaps .ymaps-2-1-79-controls__control {
    inset: auto 5px 100px auto !important;
  }
} */