.searchRoot {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 2px;
    height: 40px;
  }
  
  .searchFieldBox {
    width: 100%;
    position: relative;
    margin-right: 2px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .searchFieldBox input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  
  .titleBox {
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: "#ccc";
    width: 100%;
  
  }
  
  .titleBox.titleBox_show {
    position: relative;
    z-index: 9999;
    top: 0px;
    display: flex;
  }
  
  .titleBox p {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .titleBox button {
    margin-left: 2px;
  }
  
  .searchSubmitBtn {
    width: 100%;
  }
  
  .mapRoot {
    position: relative;
    height: 400px;
    background-color: white;
    z-index: 9999;
  }
  
  .mapsuz {
    height: 400px;
    overflow: hidden;
  }
  
  .placemark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1200;
    font-size: 35px !important;
    cursor: grab;
  }
  
  @media (max-width: 767px) {
    .titleBox {
      width: 450px;
  
    }
  
    .titleBox.titleBox_show {
      width: 90%;
      white-space: normal;
  
    }
  
    .titleBox p {
      white-space: normal;
  
    }
  
  }
  
  @media (max-width: 550px) {
    .titleBox {
      width: 300px;
  
    }
  
    .titleBox.titleBox_show {
      width: 90%;
      white-space: normal;
  
    }
  
    .titleBox p {
      font-size: 12px;
      white-space: normal;
  
    }
  }