.locationIconChangeColor {
    color: green;
}
.locationIconChangeColor:hover {
    color: #007DCA;
}


.slick-slide .slick-cloned {
    width: 112px !important;
}

.slick-initialized .slick-slide {
    display: flex;
}